<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>

<body>

    <h1>Profile</h1>
    <% if(locals.username) {%> 
            <h2>Hello <%= username %></h2>
    <% } %>


    <h2>To-do List</h2>
    <ul>
        <% for(var i=0; i<items.length ; i++) { %>
        <li id="task<%= i %>">
            <%= items[i].item %>
            <div id="buttons<%= i %>">
                <button onclick=openEdit <%= i %>)>edit</button>
                <form action="/delete" method="POST">
                    <input type="text" name="taskId" value="<%= items[i].id %>" style="display: none">
                    <button>delete</button>
                </form>
                <button onclick=doneTask <%= i %>)>done</button>
            </div>
            <div id="edit<%=i %>" style="display: none">
                <form action="/edit" method="POST">
                    <input type="text" name="taskId" value="<%= items[i].id %>" style="display: none;">
                    <input type="text" name="editedTask" placeholder="Enter the modified task">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </li>
        <% } %>
    </ul>

    <form action="/add" method="POST">
        <input type="text" name="item" placeholder="Enter task">
        <button type="submit">Add Item</button>
    </form>

    <button onclick="location.href='/logout'">LOGOUT</button>
</body>
</html>
